body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(to right, #525eb6, #d7fdff);
  background-size: cover;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .App {
    background-image: linear-gradient(#525eb6, #d7fdff);
  }
}
